<div class="side-menu">
    <p>{{.Site.Params.sideMenuInfo}}</p>

    {{if .Site.Params.sideMenuAd}}
    <div>
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9156058501050335"
            data-ad-slot="4144574357" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {{ end }}

    {{if .Site.Params.sideMenuNeat}}
    <div id="neatBox" style="display: none;">
        <h3><span>Neat Internet Things</span></h3>
        (Things the internet I find cool)
        <div id="neatList"></div>

        <script>
            var list = document.getElementById("neatList");

            fetch("https://neat.ethohampton.com/json").then(function (resp) {
                return JSON.parse(resp.body)
            }).then(function (json) {
                for (var i = 0; i < json.length; i++) {
                    //TODO improve parsing to reduce risk of XSS
                    list.innerHTML += "<li><a href='"+ json[i].URL +"'"+ json[i].Description +"</a></li>"
                }
                document.getElementById("neatBox").style.display = "block";//unhide box
            });
        </script>
    </div>
    {{ end }}


    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
    <h3><span>Recent Posts</span></h3>
    {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
    {{ .Render "li"}}
    {{ end }}
</div>