.list {
  padding: 0em;
  margin: 0em;
}

li.summary-item {
  list-style-type: none;
}

.summary-item-title {
  h2 {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }
  span{
      font-size: 0.8em;
  }
}
