.list {
  padding: 0em;
  margin: 0em;
}

li.summary-item {
  list-style-type: none;

  article > div > p:last-of-type {
    margin-bottom: 0px;
  }

  article > div > p:first-of-type {
    margin-top: 0px;
  }

}

.summary-item-title {
  h2 {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }
  span {
    font-size: 0.8em;
  }
}
