<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
    {{- else -}}
    <title>{{ .Title }} – {{ .Site.Title }}</title>
    {{- end }}

    <!-- Internal templates -->
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}



    {{ block "head" .}} {{ end }} <!-- Code for head from page -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        {{ partial "header/header.html" . }}
        <!-- Code that all your templates share, like a header -->
        <div class="body-container">
            <div class="content">
                {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
                {{ end }}
            </div>
            {{ partial "sidemenu/sidemenu.html" . }}
        </div>
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}

        {{ partial "footer/footer.html" . }}
    </div>
</body>

</html>